body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@600&family=Shadows+Into+Light&display=swap');

*{
  font-family: 'Fira Sans', sans-serif;
}

body{
  background-color: #5680e9;
  padding: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.login{
  text-align: center;
  font-family: 'Fira Sans', sans-serif;
}

.login header{
  font-size: xx-large;
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding-top: 10vh;
}

.loginForm{
  margin-top: 10vh;
  font-size: large;
}

.loginForm{
  padding: .5vw;
}



.signUp{
  display: block;
  margin-top: 20vh;
  font-size: large;
}

.Navbar{
  display: inline-block;
  margin-left: 5vw;
}
.helloUser{
  font-size: xx-large;
  display: inline-block;
}
#logOutButton{
  position: relative;

  margin-left: 70vw;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-family: 'Fira Sans', sans-serif;

  font-size: x-large;
  padding-left: 1vw;
  padding-right: 1vw;
  background-color: transparent;
  border: none;
}

#logOutButton:hover{
  color: whitesmoke;
  cursor: pointer;
}

.Navbar label{
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: 15vw;
  font-size: xx-large;
  color: #141414;
  padding: .75vw;
  font-family: 'Fira Sans', sans-serif;

}

.PetList{
  background-color: #8860d0;
  height: 50vh;
  padding-left: 5vw;
  padding-right: 5vw;
  padding-top: 8vh;
}

.PetCard{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-right: 3vw;
}


#previewImage{
  display: inline-block;
  margin-left: 15vw;
  height: 60vh;
}

.CreateButton button{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-color: transparent;
  font-size: x-large;
  border: transparent;
  padding-top: 5vh;
  text-decoration: none;
}

.CreateButton button:hover{
  cursor: pointer;
  color: whitesmoke;
}

.BackButton button{
  position: relative;
  top: -1vh;
  background-color: transparent;
  border: none;
  font-size: large;
}

.BackButton button:hover{
  color: whitesmoke;
}

#petPalImage{
  height: 40vh;
  margin-left: 25vw;
}